table.adj1 {
    table-layout: auto;
    width: 100%;
}

table.adj2 {
    table-layout: auto;
    width: 100%;
}

.top2 {
    font-weight: bold;
    font-style: italic;
}

h1 {
    color: green;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-decoration: underline;
    font-size: 6vw;
}

h2 {
    color: blue;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    font-size: 5vw;
}

h3 {
    color: black;
    font-size: 4vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h4 {
    color: yellow;
    font-size: 2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h5 {
    color: orange;
    font-size: 1.5vw;
    text-decoration: underline;
    text-align: center;
}

h6 {
    color: red;
    font-size: 1.5vw;
}

body {
    background-color: rgba(41, 1, 41, 0.9);
}

.bgc {
    background-color: rgba(41, 1, 41, 0.8);
}

.club {
    width: 300px;
    height: 150px;
}

.join {
    width: 150px;
    height: 150px;
}

.link_button {
    width:42px;
    height:42px;
    border:0;
}

.middle {
    text-align: center;
}

.left {
    text-align: left;
}