table.adj1 {
    table-layout: auto;
    width: 100%;
}

table.adj2 {
    table-layout: auto;
    width: 100%;
}

.top2 {
    font-weight: bold;
    font-style: italic;
}

h1 {
    color: black;
    font-weight: bold;
    text-decoration: underline;
    font-size: 6vw;
}

h2 {
    color: black;
    font-weight: bold;
    text-decoration: underline;
    font-size: 5vw;
}

h3 {
    color: black;
    font-size: 4vw;
}

h4 {
    color: black;
    font-size: 2vw;
    text-align: center;
}

h5 {
    color: black;
    font-size: 1.5vw;
    text-decoration: underline;
    text-align: center;
}

h6 {
    color: black;
    font-size: 1.5vw;
}

body {
    background-color: white;
}

.bgc {
    background-color: white;
}

.club {
    width: 300px;
    height: 150px;
}

.link_button {
    width:42px;
    height:42px;
    border:0;
}

.middle {
    text-align: center;
}